### **MODULE 2: Data Cleaning & Preprocessing**

**Pandas Concepts:**

- `.fillna()`, `.dropna()`, `.replace()`
- `pd.to_datetime()` date conversion
- `.str` 
- `.astype()` for type conversion
- `.drop_duplicates()`
- `.apply()` custom cleaning functions

1. **Date Processing:**
    - Convert `job_posted_date` to datetime
    - Extract: year, month, quarter, day_of_week, week_of_year
    - Create `days_since_posted` feature

In [2]:
import pandas as pd
df = pd.read_csv("/Users/yerko/Desktop/Project/data/data_jobs")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785640 entries, 0 to 785639
Data columns (total 27 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        785640 non-null  object
 1   job_title              785639 non-null  object
 2   job_location           785640 non-null  object
 3   job_via                785632 non-null  object
 4   job_schedule_type      772975 non-null  object
 5   job_work_from_home     785640 non-null  bool
 6   search_location        785640 non-null  object
 7   job_posted_date        785640 non-null  object
 8   job_no_degree_mention  785640 non-null  float64
 9   job_health_insurance   785640 non-null  bool
 10  job_country            785591 non-null  object
 11  salary_rate            33066 non-null   object
 12  salary_year_avg        22002 non-null   float64
 13  salary_hour_avg        10662 non-null   float64
 14  company_name           785622 non-null  object
 15  job_skills             785640 non-null  object
 16  job_type_skills        668654 non-null  object
 17  Month                  785640 non-null  int64
 18  Year                   785640 non-null  int64
 19  Quarter                785640 non-null  int64
 20  day_of_week            785640 non-null  int64
 21  days_passed            785640 non-null  int64
 22  skill_count            785640 non-null  int64
 23  Region                 785640 non-null  object
 24  job_posted_date_only   785640 non-null  object
 25  health_insurance       785640 non-null  object
 26  Degree Required        785640 non-null  bool
dtypes: bool(3), float64(3), int64(6), object(15)
memory usage: 146.1+ MB

In [19]:
# Converting job_posted_date to datetime 
df["job_posted_date"] = pd.to_datetime(df["job_posted_date"], errors="coerce")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785640 entries, 0 to 785639
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        785640 non-null  object
 1   job_title              785639 non-null  object
 2   job_location           784595 non-null  object
 3   job_via                785632 non-null  object
 4   job_schedule_type      772975 non-null  object
 5   job_work_from_home     785640 non-null  bool
 6   search_location        785640 non-null  object
 7   job_posted_date        785640 non-null  datetime64[ns]
 8   job_no_degree_mention  785640 non-null  float64
 9   job_health_insurance   785640 non-null  float64
 10  job_country            785591 non-null  object
 11  salary_rate            33066 non-null   object
 12  salary_year_avg        22002 non-null   float64
 13  salary_hour_avg        10662 non-null   float64
 14  company_name           785622 non-null  object
 15  job_skills             668654 non-null  object
 16  job_type_skills        668654 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(4), object(11)
memory usage: 96.7+ MB

In [20]:
#Extracting 
df["Month"]       = df["job_posted_date"].dt.month
df["Year"]        = df["job_posted_date"].dt.year
df["Quarter"]     = df["job_posted_date"].dt.quarter
df["day_of_week"] = df["job_posted_date"].dt.day_of_week

In [21]:
#Days since column
from datetime import datetime
print(datetime.today())
interval = datetime.today() - df["job_posted_date"][0]
print(interval.days)
df['days_passed'] = (datetime.today() - df["job_posted_date"]).dt.days

2026-01-24 12:02:56.659964
952

2. **Text Cleaning:**
    - Parse `job_skills` column (string representation of lists)
    - Extract individual skills into new structure
    - Clean company names (remove special characters)
    - Standardize job titles

In [22]:
# string representation -> list
import ast
df["job_skills"] = df["job_skills"].apply(lambda s: ast.literal_eval(s) if pd.notna(s) else [])

In [23]:
print(type(df["job_skills"][1]))

<class 'list'>

In [24]:
extracted_skills = df.explode('job_skills')

In [25]:
df.head(100)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,...,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills,Month,Year,Quarter,day_of_week,days_passed
0,Senior Data Engineer,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT",via Work Nearby,Full-time,False,"Texas, United States",2023-06-16 13:44:15,0.0,0.0,...,NaN,NaN,Boehringer Ingelheim,[],NaN,6,2023,2,4,952
1,Data Analyst,Data Analyst,"Guadalajara, Jalisco, Mexico",via BeBee México,Full-time,False,Mexico,2023-01-14 13:18:07,0.0,0.0,...,NaN,NaN,Hewlett Packard Enterprise,"[r, python, sql, nosql, power bi, tableau]","{'analyst_tools': ['power bi', 'tableau'], 'pr...",1,2023,1,5,1105
2,Data Engineer,"Data Engineer/Scientist/Analyst, Mid or Senior...","Berlin, Germany",via LinkedIn,Full-time,False,Germany,2023-10-10 13:14:55,0.0,0.0,...,NaN,NaN,ALPHA Augmented Services,"[python, sql, c#, azure, airflow, dax, docker,...","{'analyst_tools': ['dax'], 'cloud': ['azure'],...",10,2023,4,1,836
3,Data Engineer,LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...,"San Antonio, TX",via Diversity.com,Full-time,False,"Texas, United States",2023-07-04 13:01:41,1.0,0.0,...,NaN,NaN,Southwest Research Institute,"[python, c++, java, matlab, aws, tensorflow, k...","{'cloud': ['aws'], 'libraries': ['tensorflow',...",7,2023,3,1,934
4,Data Engineer,Data Engineer- Sr Jobs,"Washington, DC",via Clearance Jobs,Full-time,False,Sudan,2023-08-07 14:29:36,0.0,0.0,...,NaN,NaN,Kristina Daniel,"[bash, python, oracle, aws, ansible, puppet, j...","{'cloud': ['oracle', 'aws'], 'other': ['ansibl...",8,2023,3,0,900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Data Engineer,Data Engineer,"Mumbai, Maharashtra, India",via Crimsoniteam.freshteam.com,Full-time,False,India,2023-07-31 13:35:48,0.0,0.0,...,NaN,NaN,Crimson Interactive Inc,"[nosql, mongodb, mongodb, elasticsearch, mysql...","{'analyst_tools': ['tableau'], 'databases': ['...",7,2023,3,0,907
96,Data Engineer,Data Engineer,"Torrance, CA",via LinkedIn,Full-time,False,Sudan,2023-06-15 14:03:55,0.0,0.0,...,NaN,NaN,King's Hawaiian,"[sql, r, python, sql server, azure, aws, spark...","{'analyst_tools': ['sap'], 'cloud': ['azure', ...",6,2023,2,3,953
97,Data Analyst,"Systems & Data Analyst - Exploitation, Missing...",United Kingdom,via Totaljobs,Full-time and Contractor,False,United Kingdom,2023-12-04 13:14:01,1.0,0.0,...,NaN,NaN,Solihull Metropolitan Borough Council,[],NaN,12,2023,4,0,781
98,Senior Data Engineer,Senior Data Engineer (AWS),"Toronto, ON, Canada",via SmartRecruiters Job Search,Full-time,False,Canada,2023-09-01 13:42:05,1.0,0.0,...,NaN,NaN,MUFG Investor Services,"[python, aws, databricks, spark]","{'cloud': ['aws', 'databricks'], 'libraries': ...",9,2023,3,4,875
99,Data Engineer,Senior/Staff Data Engineer – Apache Spark (Jav...,"Miami, FL",via LinkedIn,Full-time,False,"California, United States",2023-09-12 13:09:28,0.0,0.0,...,NaN,NaN,Agoda,"[scala, java, golang, sql, react, spark, hadoo...","{'libraries': ['react', 'spark', 'hadoop'], 'o...",9,2023,3,1,864

In [27]:
job_titles = df['job_title_short'].unique() 
job_names = df["job_title"].unique()
for name in job_titles:
    print(name)
     
title_mapping = {
    'software developer': 'software engineer',
    's w engineer': 'software engineer',
    'senior software engineer': 'software engineer',
}

Senior Data Engineer
Data Analyst
Data Engineer
Business Analyst
Data Scientist
Machine Learning Engineer
Senior Data Analyst
Cloud Engineer
Senior Data Scientist
Software Engineer

3. **Feature Engineering:**
    - Create `is_remote` binary feature
    - Categorize salaries into bins (Entry/Mid/Senior/Executive)
    - Create `skill_count` column
    - Generate `has_degree_requirement` flag

In [ ]:
df['is_remote'] = df['job_work_from_home'] == 1
df['has_degree_requirement'] = df['job_degree_required'] == 1

In [28]:
jobs_with_salary = df.dropna(subset="salary_year_avg")

def get_salary_category(salary):
    if salary >= 100000: 
        return "Senior"
    elif salary >= 50000:
        return "Mid"
    else:
        return "Junior"
    
jobs_with_salary['Salary Category'] = jobs_with_salary["salary_year_avg"].apply(get_salary_category)
jobs_with_salary

/var/folders/3h/b50xl5913dl0kqp7zbychznr0000gn/T/ipykernel_15793/4157950148.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs_with_salary['Salary Category'] = jobs_with_salary["salary_year_avg"].apply(get_salary_category)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,...,salary_hour_avg,company_name,job_skills,job_type_skills,Month,Year,Quarter,day_of_week,days_passed,Salary Category
28,Data Scientist,CRM Data Specialist,"San José Province, San José, Costa Rica",via Ai-Jobs.net,Full-time,False,Costa Rica,2023-08-01 13:37:57,0.0,0.0,...,NaN,Netskope,"[gdpr, excel]","{'analyst_tools': ['excel'], 'libraries': ['gd...",8,2023,3,1,906,Senior
77,Data Engineer,Data Engineer,"Arlington, VA",via LinkedIn,Full-time,False,Sudan,2023-06-26 14:22:54,0.0,0.0,...,NaN,Intelletec,"[mongodb, mongodb, python, r, sql, mysql, mari...","{'analyst_tools': ['tableau'], 'cloud': ['orac...",6,2023,2,0,942,Senior
92,Data Engineer,Remote - Data Engineer - Permanent - W2,Anywhere,via LinkedIn,Full-time,True,"Illinois, United States",2023-02-21 13:29:59,0.0,1.0,...,NaN,Apex Systems,"[sql, python]","{'programming': ['sql', 'python']}",2,2023,1,1,1067,Senior
100,Data Scientist,"Data Scientist, Risk Data Mining - USDS","Mountain View, CA",via LinkedIn,Full-time,False,"California, United States",2023-07-31 13:01:18,0.0,1.0,...,NaN,TikTok,"[sql, r, python, express]","{'programming': ['sql', 'r', 'python'], 'webfr...",7,2023,3,0,907,Senior
109,Data Analyst,Senior Supply Chain Analytics Analyst,Anywhere,via Get.It,Full-time,True,"Illinois, United States",2023-10-12 13:02:19,0.0,1.0,...,NaN,Get It Recruit - Transportation,"[python, r, alteryx, tableau]","{'analyst_tools': ['alteryx', 'tableau'], 'pro...",10,2023,4,3,834,Mid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785523,Data Engineer,Data Analytics Engineer (Hybrid),"Mt Prospect, IL",via Ai-Jobs.net,Full-time,False,"Illinois, United States",2023-08-31 06:02:16,0.0,1.0,...,NaN,Bosch Group,"[go, python, r, sql, oracle, windows, alteryx,...","{'analyst_tools': ['alteryx', 'power bi', 'tab...",8,2023,3,3,877,Senior
785540,Data Engineer,Data Engineer,"New York, NY",via Dice,Full-time,False,Georgia,2023-01-04 16:36:07,1.0,0.0,...,NaN,"Engage Partners, Inc.",[],NaN,1,2023,1,2,1115,Senior
785547,Data Scientist,Director Data Scientist - Commercial Platforms...,"Pleasant Hill, CA",via Ai-Jobs.net,Full-time,False,"California, United States",2023-04-12 06:02:51,0.0,1.0,...,NaN,84.51°,"[python, azure, snowflake, spark]","{'cloud': ['azure', 'snowflake'], 'libraries':...",4,2023,2,2,1018,Senior
785581,Data Scientist,Data Scientist für datengetriebene Entwicklung...,"Reutlingen, Germany",via Ai-Jobs.net,Full-time,False,Germany,2023-03-04 06:16:08,0.0,0.0,...,NaN,Bosch Group,"[python, hadoop, spark, airflow, kubernetes]","{'libraries': ['hadoop', 'spark', 'airflow'], ...",3,2023,1,5,1057,Senior
785591,Data Scientist,Data Scientist- Hybrid Work Location,"Dayton, OH",via Ai-Jobs.net,Full-time,False,"Illinois, United States",2023-04-21 06:02:31,0.0,1.0,...,NaN,Tenet3,"[python, matlab, r]","{'programming': ['python', 'matlab', 'r']}",4,2023,2,4,1009,Senior

In [29]:
df['skill_count'] = df["job_skills"].apply(lambda skills: len(skills))
df

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,...,salary_hour_avg,company_name,job_skills,job_type_skills,Month,Year,Quarter,day_of_week,days_passed,skill_count
0,Senior Data Engineer,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT",via Work Nearby,Full-time,False,"Texas, United States",2023-06-16 13:44:15,0.0,0.0,...,NaN,Boehringer Ingelheim,[],NaN,6,2023,2,4,952,0
1,Data Analyst,Data Analyst,"Guadalajara, Jalisco, Mexico",via BeBee México,Full-time,False,Mexico,2023-01-14 13:18:07,0.0,0.0,...,NaN,Hewlett Packard Enterprise,"[r, python, sql, nosql, power bi, tableau]","{'analyst_tools': ['power bi', 'tableau'], 'pr...",1,2023,1,5,1105,6
2,Data Engineer,"Data Engineer/Scientist/Analyst, Mid or Senior...","Berlin, Germany",via LinkedIn,Full-time,False,Germany,2023-10-10 13:14:55,0.0,0.0,...,NaN,ALPHA Augmented Services,"[python, sql, c#, azure, airflow, dax, docker,...","{'analyst_tools': ['dax'], 'cloud': ['azure'],...",10,2023,4,1,836,9
3,Data Engineer,LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...,"San Antonio, TX",via Diversity.com,Full-time,False,"Texas, United States",2023-07-04 13:01:41,1.0,0.0,...,NaN,Southwest Research Institute,"[python, c++, java, matlab, aws, tensorflow, k...","{'cloud': ['aws'], 'libraries': ['tensorflow',...",7,2023,3,1,934,8
4,Data Engineer,Data Engineer- Sr Jobs,"Washington, DC",via Clearance Jobs,Full-time,False,Sudan,2023-08-07 14:29:36,0.0,0.0,...,NaN,Kristina Daniel,"[bash, python, oracle, aws, ansible, puppet, j...","{'cloud': ['oracle', 'aws'], 'other': ['ansibl...",8,2023,3,0,900,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785635,Software Engineer,DevOps Engineer,Singapura,melalui Trabajo.org,Pekerjaan tetap,False,Singapore,2023-03-13 06:16:16,0.0,0.0,...,NaN,CAREERSTAR INTERNATIONAL PTE. LTD.,"[bash, python, perl, linux, unix, kubernetes, ...","{'os': ['linux', 'unix'], 'other': ['kubernete...",3,2023,1,0,1048,8
785636,Data Analyst,CRM Data Analyst,"Bad Rodach, Jerman",melalui BeBee Deutschland,Pekerjaan tetap,False,Germany,2023-03-12 06:18:18,0.0,0.0,...,NaN,HABA FAMILYGROUP,"[sas, sas, sql, excel]","{'analyst_tools': ['sas', 'excel'], 'programmi...",3,2023,1,6,1049,4
785637,Business Analyst,Commercial Analyst - Start Now,Malaysia,melalui Ricebowl,Pekerjaan tetap,False,Malaysia,2023-03-12 06:32:36,0.0,0.0,...,NaN,Lendlease Corporation,"[powerpoint, excel]","{'analyst_tools': ['powerpoint', 'excel']}",3,2023,1,6,1049,2
785638,Data Engineer,"Principal Associate, Data Engineer (Remote-Eli...","Newark, New Jersey, Amerika Serikat",melalui Recruit.net,Pekerjaan tetap,False,Sudan,2023-03-12 06:32:15,0.0,0.0,...,NaN,Capital One,"[python, go, nosql, sql, mongo, shell, mysql, ...","{'cloud': ['aws', 'snowflake', 'azure', 'redsh...",3,2023,1,6,1049,17
785639,Software Engineer,AWS System Analyst,India,melalui Trigyn,Pekerjaan tetap,False,India,2023-03-13 06:16:31,0.0,0.0,...,NaN,Trigyn,"[aws, flow]","{'cloud': ['aws'], 'other': ['flow']}",3,2023,1,0,1048,2

In [30]:
df.to_csv("data_jobs", index=False)